<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Organization</th>
      <th>Position</th>
      <th>Content</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Is current</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.user %></td>
        <td><%= job.organization %></td>
        <td><%= job.position %></td>
        <td><%= job.content %></td>
        <td><%= job.started_at %></td>
        <td><%= job.finished_at %></td>
        <td><%= job.is_current %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
