<%= simple_form_for(@chat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :sender %>
    <%= f.association :recipient %>
    <%= f.input :content %>
    <%= f.input :read %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
