<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :topic %>
    <%= f.association :level %>
    <%= f.input :name %>
    <%= f.input :kind %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
