<h1>Listing documents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Topic</th>
      <th>Level</th>
      <th>Name</th>
      <th>Kind</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.user %></td>
        <td><%= document.topic %></td>
        <td><%= document.level %></td>
        <td><%= document.name %></td>
        <td><%= document.kind %></td>
        <td><%= document.content %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
