<h1>Listing timelines</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Route</th>
      <th>Content</th>
      <th>Hidden</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timelines.each do |timeline| %>
      <tr>
        <td><%= timeline.user %></td>
        <td><%= timeline.route %></td>
        <td><%= timeline.content %></td>
        <td><%= timeline.hidden %></td>
        <td><%= link_to 'Show', timeline %></td>
        <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
        <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeline', new_timeline_path %>
