<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Website</th>
      <th>Content</th>
      <th>Address</th>
      <th>Avatar</th>
      <th>Lat</th>
      <th>Lng</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.kind %></td>
        <td><%= organization.website %></td>
        <td><%= organization.content %></td>
        <td><%= organization.address %></td>
        <td><%= organization.avatar %></td>
        <td><%= organization.lat %></td>
        <td><%= organization.lng %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
