<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activity.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @activity.website %>
</p>

<p>
  <strong>Content:</strong>
  <%= @activity.content %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @activity.avatar %>
</p>

<p>
  <strong>Address:</strong>
  <%= @activity.address %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @activity.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @activity.finished_at %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @activity.privacy %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
