<%= simple_form_for(@attendance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :activity %>
    <%= f.input :rsvp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
