<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @attendance.activity %>
</p>

<p>
  <strong>Rsvp:</strong>
  <%= @attendance.rsvp %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
